Flask==3.1.0
joblib==1.4.2
numpy==2.2.1
opencv-python==4.10.0.84



#  Virtual environment setup commands


# pip install virtualenv
# python -m venv myenv
# virtualenv myenv
# source myenv/bin/activate
